* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.btn {
  margin-top: 10px;
  display: inline-block;
  border: 2px solid wheat;
  border-radius: 10px;
  padding: 10px 30px;
  color: wheat;
}
/*  header  */
#header .nav-bar {
  background-color: lawngreen;
  overflow: hidden;
}
#header .logo a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#header .nav_list {
  float: right;
  text-decoration: none;
  padding: 14px 16px;
}
#header .nav_list a {
  padding: 10px;
}
/* end of header  */

/*  home body  */
#main-home {
  background-image: url(images/Maasai-Mara-Safari.jpeg);
  background-position: top center;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
  z-index: 1;
}
#main-home::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#main-home .main-home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 400 5%;
  justify-content: flex-start;
}
#main-home h2 {
  display: block;
  font-size: 20px;
}
#main-home h1 {
  display: block;
  font-size: 80px;
}
/*  End home body  */
